@import "./responsive.scss";
* {
  color: #404040;
}
.appContainer {
  display: flex;
  .homeCont {
    width: 85%;
    margin-left: 16%;
    margin-top: 2%;
    @include rs {
      width: 100%;
      margin-left: 2%;
      margin-top: 20%;
    }
  }
}
