@import url("https://fonts.google.com/specimen/Nunito");
@import "./component.scss";
@import "./variable.scss";

.card {
  @include shadow;
  .cardContent {
    h1 {
      color: $white;
      font-weight: 800;
      font-size: 20px;
      font-weight: 1000;
    }
    h2 {
      color: $pink;
      font-size: 10px;
      font-weight: 1000;
    }
  }
  .buttonContainer {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    button {
      background: none;
      outline: none;
      border: 1px solid $pink;
      color: $pink;
      width: 60px;
      height: 25px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
